{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_form %}
{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">Add a Movie</h1>

    {{render_form(create)}}
</div>
{% endblock %}