{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_form %}
{% block title %}Edit Movies{% endblock %}

{% block content %}
<div class="content">
  <h1 class="heading">Movie Title</h1>
    <p class="description">Edit Movie Rating</p>
  {{ render_form(edit) }}
  </div>
{% endblock %}