{% extends 'base.html' %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Select Movie</h1>
  <p>
    <a href="#"> MOVIE TITLE - MOVIE RELEASE DATE</a>

      {%for movie in movies%}
        <p>
        <a href="{{url_for('get_md', id = movie.id)}}">{{ movie.original_title }} - {{ movie['release_date'] }} {{movie['id']}}</a>
        </p>
      {%endfor%}
  </p>

</div>
{% endblock %}